

h1{
    margin: 0 0;
    font-size: 25px;
}

p{
    margin: 0 0;
    font-size: 14px;
}







/* main profile info */
/* main profile info */
/* main profile info */
main{
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.background {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center 60%;
}

.on_background{    
    padding-top: 190px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.profile_infos {
    max-width: 1340px;
    width: 100%;
    min-height: 241px;
}



.profile {
    margin: 0 auto;
    max-width: 940px;
    display: grid;
    border: 3px solid var(--blue-color);
    grid-template-columns: auto 6fr 3fr;
    background-color: #FFFFFF;
    
    /* GRID */
}



.profile_info {
    
    padding: 20px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 290px;
    gap: 8px;
    width: max-content;
    padding-right: 0px;
}

.profile_info img{
    position: absolute;
    transform: scale(1.1);
    border: 3px solid var(--blue-color);
    height: 172px;
    width: 172px;
    left: 30px;
    top: -20px;
}

.reg_date{
    display: flex;
}

.reg_date::before{
    display: block;
    position: relative;
    top:2px;
    width: 15px;
    height: 15px;
    content: "";
    margin-right: 3px;
    background-image: url("../img/timer-icon-7799\ 1.png");
}

.status{
    display: flex;
    gap: 5px;
}

.status::before{
    position: relative;
    top: 5px;
    display: block;
    content: "";
    background-image: url(../img/dasdadadadasdsadsadaa.png);
    width: 10px;
    height: 10px;
}

.description{
    padding: 10px 10px;
    font-size: 13px;
}

.profile_setting {
    border-left: 3px solid var(--blue-color);
    background-color: rgba(117, 153, 195, 0.415);
    padding: 10px 10px;
}
.profile_setting button{
    width: 100%;
    height: 35px;
    background-color: var(--pink-color);
    border-radius: 3px;
    border: 1px solid var(--blue-color);
}

.active_projects {
    padding: 20px 20px;
    position: relative;
}
.profile_review {
    width: 100%;
    background-color: rgba(117, 153, 195, 0.415);
}
.review {
    margin: 0 auto;
    max-width: 1340px;
    width: 100%;
    padding: 20px 20px;
}



@media (max-width:850px) {
    .profile{
        grid-template-columns: auto calc(100% - 212px);
        grid-template-rows: auto;
        grid-template-areas: 'info descript descript'
                            'setting setting setting';
    }
    .profile_setting{
        grid-area: setting;
        border-left: none;
        border-top: 3px solid var(--blue-color);
    }
    
    .profile > p{
        grid-area: descript;
    }
    .profile_info {
        grid-area: info;
    }        

}


@media (max-width:560px) {
    .profile{
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 'info'
                            'descript'
                            'setting';
    }

}

/* main profile info */
/* main profile info */
/* main profile info */
.project_item{
    padding: 0 0;
    position: relative;
    cursor: pointer;
    width: 220px;
    height: 300px;
    background-color: #FFFFFF;
    border: none;
    box-shadow: 0 0 2px #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    a{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position:absolute;
    }
}

.project_item img{
    object-fit:cover;
    object-position: center;
    width: 100%;
    height: 55%;
}

.project_info {
    position: relative;
    height: 30%;
    width: 100%;
    text-align: start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.487);
    border-top: 1px solid rgba(0, 0, 0, 0.487);
}

.project_info > p{
    margin: 5px 7px;
    max-width: 100%;
    max-height: 65%;
    overflow: hidden;
}

.price {
    position: absolute;
    right: 7px;
    bottom: 5px;
    font-size: 17px;
    color: var(--pink-color);
}
.item_project_owner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 100%;
}
.owner_info {
    display: flex;
    margin-left: 7px;
    overflow: hidden;
}

.owner_info img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.355);
}

.owner_name{
    max-width: 100px;
    margin: auto 7px;
}
.owner_rating {
    margin:auto 7px;
    display: flex;
    color: gold;
}
.owner_rating::before{
    content: "";
    height: 15px;
    width: 15px;
    margin-right: 3px;
    position: relative;
    top: -1px;
    background-image: url('img/Gold_Star.svg.png');
    background-position: center;
    background-size: contain;
}
.owner_rating p{
    color: #00000033;
    margin: 0 0;
    margin-left: 3px;
}





/* слайдер */
.slider{
    width: 100%;
    overflow: hidden;
}

.slider_b{
    width: 110%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: -5%;
    z-index: 1;
}

.slider_b button{
    margin: 0 15px;
    padding: 0 0;
    width: 35px;
    height: 60px;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    transition: 0.4s;
    position: relative;


}

.prev_sl_bt:hover{
    transform: translateX(2px);
}
.next_sl_bt:hover{
    transform: translateX(-2px);
}


.prev_sl_bt:active{
    transform: translateX(-2px);
}
.next_sl_bt:active{
    transform: translateX(2px);
}


.next_sl_bt img{
    position: relative;
    transform: rotate(180deg);
}
/*  */

.slider_container{
    position: relative;
    overflow: hidden;
    width: 1440px;
    margin: 0 auto;
    z-index: 2;
}

.slider_items{
    transition: 0.6s;
    display: flex;
    gap: 40px;
    margin: 0 auto;
    padding: 10px 10px;
    position: relative;
}
/* слайдер */