server {
        listen 443;
        server_name localhost;

        location = /favicon.ico { access_log off; log_not_found off; }

        location /static/ {
                root /home/defo/Python-Django-DRF-CSS-HTML-JavaScript-Education-KWORK-clone/DjangoProject;
        }

        location /ws/socket-server/ {
                proxy_pass http://unix:/run/gunicorn.sock;
                proxy_http_version 1.1;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection "upgrade";
        }

        location / {
                include proxy_params;
                proxy_pass http://unix:/run/gunicorn.sock;
        }

}