{% extends 'mainApp/layout.html' %}
{% load static %}


{% block title %}
<link rel="stylesheet" href={% static "category.css" %}>
<title>{{maincategory.name}}</title>
{%endblock%}


{% block content %}

    <main class="main">
        <div class="mainblock">
            <div class="main__title">
                <h1>{{ main_cat.name }}
                    <div class="title_burger" id="Tburger"> 
                        <span></span>
                        <span></span>
                        <span></span>
                        <div class="title_burger_container"></div>
                    </div>
                </h1>
                <p>{{ main_cat.description }}</p>
            </div>
            <div class="catalog__container">
                <div class="catalog__menus" id="TBmenu">
                    <h2>{{ main_cat.name }}</h2>
                    {% for sub_cat in sub_cats_list %}
                        <div class="catalog__menu">
                            <h3><a href="{% url 'subcategoryURL' main_cat.urlname sub_cat.sub_cat.urlname %}">{{ sub_cat.sub_cat.name }}</a></h3> 
                            {% for det_cat in sub_cat.det_cats_list %}
                                <button>{{ det_cat.name }}</button>
                            {% endfor %}     
                        </div>
                    {% endfor %}

                </div>
                <div class="catalog__categorys">
                    {% for sub_cat in sub_cats_list %}
                        {% for det_cat in sub_cat.det_cats_list %}
                            <button class="categories_button">
                                <img alt='настроить вывод картинки через бд' src="">
                                <div class='shadow_box'></div>
                                <h3>{{ det_cat.name }}</h3>
                            </button>
                        {% endfor %}
                    {% endfor %}     
                </div>
            </div>
        </div>

        <script src={% static "category.js" %}></script>

    </main>

    {% endblock %}
