{% extends 'mainApp/layout.html' %}
{% load static %}


{% block title %}
<link rel="stylesheet" href={% static "project.css" %}>
<title>{{ project.name }}</title>
{%endblock%}


{% block content %}



<div class="project__background">
    <div class="main_block">



        <div class="project_description">
            <div class="main__title">
                <h2><a href="{% url 'maincategoryURL' mainurlname=maincat.urlname %}">{{ maincat }}</a> > 
                    <a href="{% url 'subcategoryURL' mainurlname=maincat.urlname suburlname=subcat.urlname %}">{{ subcat }}</a> > 
                    <a href="">{{ detcat }}</a></h2>
                <h1>{{ project.name }}</h1>
            </div>
            <img src={% static "mainApp/img/Rectangle 42.png" %} alt="logo">
            <div class="description">
                <h3>Об этом проекте</h3>
                <p class="owner_text">
                    {{ project.description }}
                    {% comment %} Приветствую! Меня зовут Екатерина. Я перенесу Ваш сайт с Wix или любой
                    другой платформы на Tilda*. Сайт будет копией уже имеющегося сайта.
                    Также веб-страница будет оптимизирована под разные типы устройств.<br>
                    <br>
                    <b>Плюсы работы со мной:</b><br>
                    <br>
                    1. Вам не потребуется вникать в сложности разработки сайта. Всё, что нужно — ссылка на Wix сайт, доступ к Вашему Tilda и Wix аккаунту;<br>
                    2. Заказ будет выполнен в кратчайшие сроки, а именно — от 1 дня, всё зависит от сложности сайта;<br>
                    3. В ходе работы я присылаю Вам временную ссылку для просмотра страницы сайта, чтобы Вы могли видеть результаты в реальном времени и сразу же корректировать. Всё, чтобы Ваш выглядел идеально;<br>
                    4. Я готова помочь Вам по любому вопросу: создание сайта с нуля, лендинг странички и тд. Выполню заказ любой сложности. Для этого просто напишите мне и мы договоримся о задаче;<br>
                    <br>
                    <b>Что получите?</b><br>
                    <br>
                    По окончании работы Вы получите сайт на Tilda, который Вы сможете подключить к домену, а затем начать использовать. В дальнейшем если вдруг возникнут проблемы — буду рада Вам помочь!
                    <br>
                    <br>
                    <b>Нужно для заказа:</b><br>
                    Ссылка на Wix сайт;<br>
                    Логин и пароль для Tilda и Wix аккаунтов;<br>
                    Оставаться на связи для уточнения деталей; {% endcomment %}
                </p>
                {% comment %} <div class="settings">
                    <div><h4>CMS:</h4><p>Tilda</p></div>
                    <div><h4>Язык программирования:</h4><p>Нет</p></div>
                    <div><h4>Интерфейс на JavaScript:</h4><p>Да</p></div>
                    <div><h4>Используется:</h4><p>CSS</p></div>
                    <div><h4>База данных:</h4><p>Не предусмотрена</p></div>
                    <div><h4>Объем услуги в проекте:</h4><p>1 сайт, до 5 страниц</p></div>
                </div> {% endcomment %}
            </div>
        </div>



        <div class="project_buy">
            <div class="detail"><h3>{{project.price}}р</h3><h3>Детали заказа</h3></div>
            <p>{??}7 дней на выполнение</p>
            <p>{??}Обычно выполняет за 2 дня</p>
            {% if user.is_authenticated %}
                {% if user.id != owner.id %}
                    <button>Заказать за {{project.price}}р</button>
                    <div class="amount">
                        <p>Количество:</p>
                        <div class="menu_form">
                            <div class="menu_button"><p>1</p></div>
                            <div class="menu">
                                <button>1</button>
                                <button>2</button>
                                <button>3</button>
                                <button>4</button>
                                <button>5</button>
                                <button>6</button>
                                <button>7</button>
                                <button>8</button>
                                <button>9</button>
                                <button>10</button>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <button>{??}Изменить проект</button>
                    <button style='color:red'>{??}Удалить проект</button>
                {% endif %}
            {% endif %}
        </div>



        <div class="project_owner">
            <div class="owner_title">
                <img src="{{ owner.avatar.url }}" alt="user_avatar">
                <div class="title_info">
                    <h4>{{ owner.username }}</h4>
                    {% if owner.first_name %}
                    <h4>{{ owner.first_name }} {{ owner.last_name }}</h4>
                    {% endif %}
                    <h4>{??}Онлай(статус)</h4>
                </div>
            </div>
            {% if user.is_authenticated %}
                {% if user.id != owner.id %}
                    <button>Связаться с продавцом</button>
                {% endif %}
            {% endif %}
            <ul class="rep_info">
                <div><p>{??}Репутация</p><div class="owner_rating">5.0<p>(50)</p></div></div>
                <div><p>{??}Выполнено заказов</p><div id="done_projects">11111</div></div>
                <div><p>{??}505 оценок к заказах</p><div class="projects_rating" id="projects_rating"><p>500</p><p>5</p></div></div>
                <div><p>{??}Заказов в работе</p><div id="projects_in_process">55</div></div>
                <div><p>{??}Новосибирск</p><div class="reg_date" id="reg_date"><p>На сайте с 1 ноября 2022</p></div></div>
            </ul>
        </div>



        {% comment %} <div class="project_buy_detail">
            <h1>Детали заказа</h1>
            <div class="detail_settings">
                <div class="detail_setting">
                    <div class="detail_set_container">
                        <div class="ok_form"><input type="checkbox" name="plus_5"> <label>+5 настроек</label></div>
                        <div class="menu_form affsfafs">
                            <div class="menu_button"><p>1</p></div>
                            <div class="menu">
                                <button>1</button>
                                <button>2</button>
                                <button>3</button>
                                <button>4</button>
                                <button>5</button>
                                <button>6</button>
                                <button>7</button>
                                <button>8</button>
                                <button>9</button>
                                <button>10</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail_setting">
                    <div class="detail_set_container">
                        <div class="ok_form"><input type="checkbox" name="plus_15"> <label>+15 настроек</label></div>
                        <div class="menu_form affsfafs">
                            <div class="menu_button"><p>1</p></div>
                            <div class="menu">
                                <button>1</button>
                                <button>2</button>
                                <button>3</button>
                                <button>4</button>
                                <button>5</button>
                                <button>6</button>
                                <button>7</button>
                                <button>8</button>
                                <button>9</button>
                                <button>10</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail_setting">
                    <div class="detail_set_container">
                        <div class="ok_form"><input type="checkbox" name="plus_20"> <label>+20 настроек</label></div>
                        <div class="menu_form affsfafs">
                            <div class="menu_button"><p>1</p></div>
                            <div class="menu">
                                <button>1</button>
                                <button>2</button>
                                <button>3</button>
                                <button>4</button>
                                <button>5</button>
                                <button>6</button>
                                <button>7</button>
                                <button>8</button>
                                <button>9</button>
                                <button>10</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail_setting">
                    <div class="detail_set_container">
                        <div class="ok_form"><input type="checkbox" name="plus_35"> <label>+35 настроек</label></div>
                        <div class="menu_form affsfafs">
                            <div class="menu_button"><p>1</p></div>
                            <div class="menu">
                                <button>1</button>
                                <button>2</button>
                                <button>3</button>
                                <button>4</button>
                                <button>5</button>
                                <button>6</button>
                                <button>7</button>
                                <button>8</button>
                                <button>9</button>
                                <button>10</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail_setting">
                    <div class="detail_set_container">
                        <div class="ok_form"><input type="checkbox" name="plus_60"> <label>+60 настроек</label></div>
                        <div class="menu_form affsfafs">
                            <div class="menu_button"><p>1</p></div>
                            <div class="menu">
                                <button>1</button>
                                <button>2</button>
                                <button>3</button>
                                <button>4</button>
                                <button>5</button>
                                <button>6</button>
                                <button>7</button>
                                <button>8</button>
                                <button>9</button>
                                <button>10</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail_setting">
                    <div class="detail_set_container">
                        <div class="ok_form"><input type="checkbox" name="plus_75"> <label>+75 настроек</label></div>
                        <div class="menu_form affsfafs">
                            <div class="menu_button"><p>1</p></div>
                            <div class="menu">
                                <button>1</button>
                                <button>2</button>
                                <button>3</button>
                                <button>4</button>
                                <button>5</button>
                                <button>6</button>
                                <button>7</button>
                                <button>8</button>
                                <button>9</button>
                                <button>10</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="time_stat">
                <p>7 дней на выполнение</p>
                <p>Обычно выполняет за 2 дня</p>
            </div>
            <div class="detail_buy">
                <div class="amount ahdfhahdfhadhfadfh">
                    <p>Количество:</p>
                    <div class="menu_form affsfafs">
                        <div class="menu_button"><p>1</p></div>
                        <div class="menu">
                            <button>1</button>
                            <button>2</button>
                            <button>3</button>
                            <button>4</button>
                            <button>5</button>
                            <button>6</button>
                            <button>7</button>
                            <button>8</button>
                            <button>9</button>
                            <button>10</button>
                        </div>
                    </div>
                </div>
                <button>Заказать за 1000р</button>
            </div>
        </div> {% endcomment %}



    </div>
</div>
<div class="others_owner_projects">
    <h1>Другие проекты продавца</h1>
    <div class="slider">
        <div class="slider_container">
            <div class="slider_items">


                {% for product in owner_products %}
                    {% if product.id != project.id %}
                    
                    <button class="project_item">
                        <img src={% static "mainApp/img/1_blockBackGround.jpg" %} alt="project_img">
                        <div class="project_info">
                            <a href="{% url 'project' project_id=product.id %}"></a>
                            <p>{{product.name}}</p>
                            <div class="price">{{product.price}}р</div>
                        </div>
                        <div class="item_project_owner">
                            <a href="{% url 'profile' pk=owner.id %}" ></a>
                            <div class="owner_info">
                                <img src="{{ owner.avatar.url }}" alt="owner_avatar">
                                <p class="owner_name">{{ owner.username }}</p>
                            </div>
                            <div class="owner_rating">{??}5.0<p>(50)</p></div>
                        </div>
                    </button>
                    
                    {% endif %}
                {% endfor %}




                {% comment %} <button class="project_item">
                    <img src="img/Screenshot_6.png" alt="project_img">
                    <div class="project_info">
                        <p>project name</p>
                        <div class="price">1000р</div>
                    </div>
                    <div class="item_project_owner">
                        <div class="owner_info">
                            <img src="img/Screenshot_5.png" alt="owner_avatar">
                            <p class="owner_name">username</p>
                        </div>
                        <div class="owner_rating">5.0<p>(50)</p></div>
                    </div>
                </button>

                <button class="project_item">
                    <img src="img/Screenshot_6.png" alt="project_img">
                    <div class="project_info">
                        <p>project name</p>
                        <div class="price">1000р</div>
                    </div>
                    <div class="item_project_owner">
                        <div class="owner_info">
                            <img src="img/Screenshot_5.png" alt="owner_avatar">
                            <p class="owner_name">username</p>
                        </div>
                        <div class="owner_rating">5.0<p>(50)</p></div>
                    </div>
                </button>

                <button class="project_item">
                    <img src="img/Screenshot_6.png" alt="project_img">
                    <div class="project_info">
                        <p>project name</p>
                        <div class="price">1000р</div>
                    </div>
                    <div class="item_project_owner">
                        <div class="owner_info">
                            <img src="img/Screenshot_5.png" alt="owner_avatar">
                            <p class="owner_name">username</p>
                        </div>
                        <div class="owner_rating">5.0<p>(50)</p></div>
                    </div>
                </button>
                
                <button class="project_item">
                    <img src="img/Screenshot_6.png" alt="project_img">
                    <div class="project_info">
                        <p>project name</p>
                        <div class="price">1000р</div>
                    </div>
                    <div class="item_project_owner">
                        <div class="owner_info">
                            <img src="img/Screenshot_5.png" alt="owner_avatar">
                            <p class="owner_name">username</p>
                        </div>
                        <div class="owner_rating">5.0<p>(50)</p></div>
                    </div>
                </button>

                <button class="project_item">
                    <img src="img/Screenshot_6.png" alt="project_img">
                    <div class="project_info">
                        <p>project name</p>
                        <div class="price">1000р</div>
                    </div>
                    <div class="item_project_owner">
                        <div class="owner_info">
                            <img src="img/Screenshot_5.png" alt="owner_avatar">
                            <p class="owner_name">username</p>
                        </div>
                        <div class="owner_rating">5.0<p>(50)</p></div>
                    </div>
                </button>

                <button class="project_item">
                    <img src="img/Screenshot_6.png" alt="project_img">
                    <div class="project_info">
                        <p>project name</p>
                        <div class="price">1000р</div>
                    </div>
                    <div class="item_project_owner">
                        <div class="owner_info">
                            <img src="img/Screenshot_5.png" alt="owner_avatar">
                            <p class="owner_name">username</p>
                        </div>
                        <div class="owner_rating">5.0<p>(50)</p></div>
                    </div>
                </button> {% endcomment %}
            </div>
        </div>
        <div class="slider_b">
            <button class="prev_sl_bt">
                <img src={% static "mainApp/img/arrowpng.png" %} alt="prev" width="35px" height="60px">
            </button>
            <button class="next_sl_bt">
                <img src={% static "mainApp/img/arrowpng.png" %} alt="next" width="35px" height="60px">
            </button>
        </div>
    </div>
</div>
<script src={% static "project.js" %}></script>
{% endblock %}