{% extends 'mainApp/layout.html' %}
{% load static %}


{% block title %}
<link rel="stylesheet" href={% static "user_settings.css" %}>
<title>Настройка профиля</title>
{% endblock %}




{% block content %}

<div class="background">
    <div class="container">
        <h1>Настройки профиля</h1>
        <h3>Общее</h3>
        <form action="">
            {??}форма для полного имени + добавление описания + добавление фотографии
        </form>
        <h3>Смена пароля</h3>
        <form action="" method='post'>
            {% csrf_token %}
            {% if change_pass_succes %}
                <div color="green">{{ change_pass_succes }}</div>
            {% endif %}
            {% for field in ChangePasswordForm %}
            <div class="input"> 
                <h5>{{ field.label}}</h5>
                {{ field.errors }}
                {{ field }}
            </div>
            {% endfor %}
            <button>Сменить пароль</button>
        </form>
    </div>
</div>
{% endblock %}