{% extends 'mainApp/layout.html' %}
{% load static %}


{% block title %}
<link rel="stylesheet" href={% static "user_profile.css" %}>
<title>MyProfile</title>
{%endblock%}


{% block content %}

<main>
    <img class="background" alt="background" src={% static 'mainApp/img/medium.jpg'%}></img>
    <div class="on_background">
        <div class="profile_infos">
            <div class="profile">
                <div class="profile_info">
                        <img class="avatar" src='{{ user.avatar.url }}' alt="avatar">
                    <h1>
                        {{ user.username }}
                    </h1>
                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                    <p class="reg_date">На сайте с {{ user.date_joined }}{??}</p>
                    <p class="status">status off on{??}</p>
                </div>
                <p class="description">
                    (Описание) Пользователь не написал о себе{??}
                    {{ user.description }}
                </p>
                <div class="profile_setting">
                    <a href="{% url 'user_settings' %}"><button>Настройки профиля{??}</button></a>
                </div>
            </div>
            <div class="active_projects">
                <h1>Мои проекты</h1>
                {% if owner_projects|length == 0 %}
                <p>У пользователя {{ user.username }} нет активных проектов{??}</p>
                {% else %}
                <div class="slider">
                    <div class="slider_container">
                        <div class="slider_items">
                            
                            {% for product in owner_projects %}
                                
                                    <button class="project_item">
                                    <img src={% static "mainApp/img/1_blockBackGround.jpg" %} alt="project_img">
                                    <div class="project_info">
                                        <a href="{% url 'project' project_id=product.id %}"></a>
                                        <p>{{product.name}}</p>
                                        <div class="price">{{product.price}}р</div>
                                    </div>
                                    <div class="item_project_owner">
                                        <div class="owner_info">
                                            <a href="{% url 'profile' pk=user.id %}" ></a>
                                            <img src="{{ user.avatar.url }}" alt="owner_avatar">
                                            <p class="owner_name">{{ user.username }}</p>
                                        </div>
                                        <div class="owner_rating">{??}5.0<p>(50)</p></div>
                                    </div>
                                </button>
                       
                            {% endfor %}
                            
                            {% endif %}
                            
                        </div>
                    </div>
                    <div class="slider_b">
                        <button class="prev_sl_bt">
                            <img src={% static "mainApp/img/arrowpng.png" %} alt="prev" width="35px" height="60px">
                        </button>
                        <button class="next_sl_bt">
                            <img src={% static "mainApp/img/arrowpng.png" %} alt="next" width="35px" height="60px">
                        </button>
                    </div>
                </div>


            </div>
        </div>
        <div class="profile_review">
            <div class="review">
                <h1>Отзывы</h1>
                <p>У пользователя {{ user.username }} нет отзывов{??}</p>
            </div>
        </div>
    </div>
</main>
<script src={% static "user_profile.js" %}></script>
{%endblock%}
