html {
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

button:hover{
    transition: .2s;
    position: relative;
    transform: scale(1.01, 1.01);
}

:root{                                                  /*Цвета*/
    --pink-color: #CF65C5;
    --blue-color: #42619D;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --gray-color: #D9D9D9;
}

.text-h1 {                                              /*Большой заголовок*/
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 36px;
}

.text-h2 {                                              /*Заголовок блока*/
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.text_light{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.text-h4{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.text-h5{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 25px;
}



















                        /* HEADER */
/* header */
/* Mobile View */

@media (max-width: 600px) {
    .header{
        display: block;
        height: 46px;
    }
    .header.open{
        height: 100%;
    }
    .header button{
        color: white;
    }


    .logo{
        position: relative;
        bottom: 6px;
    }
    .mainmenu{
        flex-direction: column;
    }

    .mainbuttons{
        position: absolute;
        transition: .3s ease-in-out;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        transform: translateY(-500px);
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid rgba(66, 97, 157, 0.1);
        background-color: rgba(255, 105, 180, 0.2);
    }
    .mainbuttons.open{
        top: 44.75px;
        position: absolute;
        transform: translateX(0);
        margin: 0 auto;        
    }

    .catalog{
        flex-direction: column;
    }
    .catalog_button{
        margin: 7px 3px;
        border: #42619D;
        
    }
    .header2{
        transition: .3s ease-in-out;
        position: relative;
        transform: translateY(-500px);
        border-bottom: 1px solid rgba(66, 97, 157, 0.5);
        background-color: var(--pink-color);
    }
    .header2.open{
        width: 100%;
        transform: translateX(0);
        position: absolute;
        top: calc(44.75px*2);

    }

    .header21{
        height: 236.25px;
        width: 100%;
    }
}


.header {
    margin: 0 auto;

}

.header1{
    /* height: 68px; */
    border-bottom: 1px solid #42619D;
    display: flex;
    justify-content: center;
    @media (max-width: 480px) {
        border-bottom: 1px solid rgba(212, 118, 188, 0.5);
    }
}

.header11{
    width: 100%;
    max-width: 954px;
}

.mainmenu {
    /* min-height: 68px; */
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainlogosearch {
    
    display: flex;
    padding-bottom: 9px;
    @media (max-width: 600px) {
        margin-left: 0px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding-bottom: 0px;
        background-color: white;
        z-index: 2;
    }
    
}

.logo {
    max-width: 74px;
    max-height: 45px;
    padding-left: 8px;
}

.searchbox {
    margin-left: 19px;
    margin-top: 19px;
    display: inline-flex;
    @media (max-width: 600px) {
        margin: 0 auto;
    }
}

.search_bar {
    height: 17px;
    width: 170px;
    display: inline-flex;
    border: 1px solid var(--pink-color);
    background-color: var(--blue-color);
    border-radius: 3px;
    @media (max-width: 600px) {
        width: 210px;
        height: 25px;
    }
}

.searchinput {
    background-color: transparent;
    height: 15px;
    width: 140px;
    font-size: 7px;
    outline: none;
    border: none;
    margin-left: 3px;
    color: #D9D9D9;
    opacity: 0.5;
    @media (max-width: 600px) {
        width: 241px;
        height: 25px;
        font-size: 11px;
    }
}


.search_button {
    cursor: pointer;
    margin-left: 4px;
    height: 100%;
    outline: none;
    border: 1px solid var(--pink-color);
    background-color: var(--pink-color);
    color: var(--white-color);
    font-size: 7px;
    border-radius: 0px 1px 1px 0px;
    @media (max-width: 600px) {
        width: 50px;
        font-size: 11px;
    }
}

.burger{
    margin-right: 6px;
    padding: 0;
    height: 30px;
    width: 30px;
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width:601px) {
        display: none;
    }
}

.burgerline{
    width: 100%;
    background-color: var(--pink-color);
    height: 4px;
    position: relative;
    transition: .2s;
    border-radius: 3px;
}

.burgerline:nth-child(1){
    top:4px;
    transform: translateY(-10px);
}

.burgerline:nth-child(3){
    bottom:4px;
    transform: translateY(10px);

}

.burger.open .burgerline:nth-child(1){
    transform: rotate(45deg);
}

.burger.open .burgerline:nth-child(2){
    background-color: transparent;
}

.burger.open .burgerline:nth-child(3){
    transform: rotate(-45deg);
}

.mainbuttons {
    margin-top: 2px;
    margin-right: 2%;
    padding: auto;

}

.signin_button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    @media (max-width: 605px) {
        font-size: 12px;
    }
}

.signup_button {
    cursor: pointer;
    background-color: var(--pink-color);
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    border-radius: 5px;
    @media (max-width: 605px) {
        font-size: 12px; 
    }
}

.frilancer_button {
    border: none;
    background-color: transparent;
    cursor: pointer;

}





.header2{
    display: flex;
    justify-content: center;
}

.header21{
    display: flex;
    justify-content: center;
    width: 954px;
    padding: 1% 0%;
}

.catalog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 945px;
    width: 100%;
    @media (max-width:601px) {
        align-items: flex-start;
        margin-left: 5px;
    }
}

.catalog_button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 14px;
    @media (max-width: 898px) {
        font-size: 13px;
    }
    @media (max-width: 882px) {
        font-size: 11px;
    }
    @media (max-width: 770px) {
        font-size: 9px;
    }
    @media (max-width: 650px) {
        font-size: 8px;
    }
    @media (max-width: 600px) {
        font-size: 13px;
    }
}



























.main{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
}














/* FIRST BLOCK */        

.firstblock_back {
    max-width: 1440px;
    width: 100%;
    min-height: 567px;
    background-image: url(../img/fbback.png);
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-position: center;
    @media (max-width: 1100px) {
        min-height: 500px;
    }
}

.firstblock_titlediv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 152px;
    @media (max-width: 1100px) {
        margin-top: 135px;
    }
    @media (max-width: 906px) {
        margin-top: 100px;
    }
}

.firstblock_title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    /* dsadadssadasdasdasd text-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.9); */
}

.firstblock_text {
    font-weight: 400;
    font-size: 16px;
    margin-top: 5px;
    text-align: center;
}

.singup_button {
    margin-top: 20px;
    height: 37px;
    width: 180px;
    font-weight: 500;
    font-size: 17px;
}

.aass {
    color: var(--white-color);
    margin-top: 20px;
    width: 180px;
    height: 37px;
    font-weight: 500;
    font-size: 17px;
}

.firstblock_statdiv {
    width: 100%;
    min-height: 138px;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 906px) {
        min-height: 100px;
    }
}

.firstblock_stats {
    width: 954px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1100px) {
        gap: 30px;
        margin: 0 30px;
        
    }
}

.firstblock_stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.fb_statname {
    font-weight: 400;
    font-size: 20px;
}

.fb_statinfo {
    font-weight: 700;
    font-size: 36px;
}

@media (max-width: 906px) {
    .fb_statname{
        font-size: 17px;
    }
    .fb_statinfo{
        font-size: 28px;
    }
    .firstblock_back{
        min-height: 400px;
    }
}

@media (max-width: 732px) {
    .fb_statname{
        font-size: 14px;
    }
    .fb_statinfo{
        font-size: 22px;
    }

}

@media (max-width: 610px) {
    .fb_statname{
        color: #2f2f2f;
    }
    .fb_statinfo{
        color: #2f2f2f;
    }

    .firstblock_title{
        font-size: 30px;
    }

    .firstblock_statdiv{
        background-color: white;
        min-height: 200px;
    }
    
    .firstblock_stats{
        margin-top: 30px;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .firstblock_titlediv{
        margin-top: 83px;
    }

    .firstblock_back{
        min-height: 500px;
    }

    .aass{
        margin: 12px 0px;
    }
}

@media (max-width: 533px) {
    .firstblock_title{
        font-size: 20px;
    }
    .firstblock_text{
        font-size: 13px;
    }
    .aass{
        margin: 12px 0px;
    }
    .firstblock_titlediv{
        margin-top: 100px;
    }
}

@media (max-width: 445px) {

    .firstblock_text{
        font-size: 11px;
    }
    .aass{
        margin: 12px 0px;
    }
}   


























/* second */
.secondblockback{
    justify-content: center;
    display: flex;
}

.secondblock{
    margin-top: 34px;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title_text_b2{
    color: var(--black-color);
    margin-left: 9px;
    text-align: center;
    @media (max-width: 570px) {
        font-size: 22px;
    }
}

.resumesdiv{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.resumediv{
    display: flex;
    margin-left: 7.5px;
    margin-right: 7.5px;
    margin-top: 15px;
    width: 239px;
    height: 239px;
    align-items: flex-end;
    justify-content: flex-start;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0px -100px 50px -60px;
    @media (max-width: 1050px) {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 1050px) {
    .categories_button_text{
        font-size: 20px;
    }

    .text_underresume{
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .secondblockback{
        display: none;
    }
}

.categories_button_text{
    margin-bottom: 10px;
    margin-left: 10px;
    color: var(--white-color);

}

.cbbackground_1{
    background-image: url(../img/linkbuilder.png);
    background-size: cover;
    background-position: center;
}

.cbbackground_2{
    background-image: url(../img/webdev.png);
    background-size: cover;
    background-position: center;
}

.cbbackground_3{
    background-image: url(../img/dicktior.png);
    background-size: cover;
    background-position: center;
}

.cbbackground_4{
    background-image: url(../img/translater.png);
    background-size: cover;
    background-position: center;   
}

.cbbackground_5{
    background-image: url(../img/desingner.png);
    background-size: cover;
    background-position: center;
}

.cbbackground_6{
    background-image: url(../img/actor.png);
    background-size: cover;
    background-position: center;
}

.cbbackground_7{
    background-image: url(../img/producer.png);
    background-size: cover;
    background-position: center;
}

.resdivforregb{
    background-color: var(--gray-color);
    box-shadow: none;
    align-items: center;
    justify-content: center;
}

.resdivforregb_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text_underresume{
    text-align: center;
    margin-top: 10px;
}

.urrb{
    margin-top: 15px;
    color: var(--white-color);
    width: 180px;
    height: 37px;
    font-weight: 500;
    font-size: 17px;
}



















/* третий блок */

.thirdblockback{
    background-color: rgba(66, 97, 157, 0.1);
    margin-top: 34px;
    max-width: 1440px;
    width: 100%;
    height: 469px;
    display: flex;
    justify-content: center;
}

.thirdblock{
    align-items: center;
    width: 954px;
    display: flex;
    flex-direction: column;
}

.thirdblock_title{
    margin-top: 60px;
    text-align: center;
}

.thirdblock_text{
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.thirdblock_stickers{
    margin-top: 60px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 20px;
}

.thirdblock_sticker{
    min-width: 183px;
    max-width: 288px;
    height: 195px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thirdblock_stickers:nth-child(1){
    min-width: 235px;
}

.thirdblock_stickers:nth-child(2){
    min-width: 204px;
}

.thirdblock_stickers:nth-child(3){
    min-width: 276px;
}

.sticker_title{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin-top: 8px;
    text-align: center;
}

.sticker_text{
    margin-top: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}

@media (max-width: 774px) {
    .thirdblock_stickers{
        width: 276px;
        gap: 300px;
        justify-content: flex-start;
        margin: 60px auto;
        position: relative;
        transition: 0.5s;
        left: 0px;
    }
    .thirdblock_sticker{
        min-width: none;
        min-width: 276px;
    }

}

.slider{
    width: 100%;
}

.slider_b{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 185px;
}

.slider_b button{
    display: none;
    margin: 0 15px;
    padding: 0 0;
    width: 35px;
    height: 60px;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    transition: 0.4s;
    position: relative;

    @media (max-width: 774px){  
        display: block;
    }
}

.prev_sl_bt:hover{
    transform: translateX(2px);
}
.next_sl_bt:hover{
    transform: translateX(-2px);
}


.prev_sl_bt:active{
    transform: translateX(-2px);
}
.next_sl_bt:active{
    transform: translateX(2px);
}


.next_sl_bt img{
    position: relative;
    transform: rotate(180deg);
}

@media (max-width: 600px){
    .thirdblock_title{
        font-size: 25px;
    }

}

@media (max-width: 500px){
    .thirdblock_title{
        font-size: 20px;
        margin-top: 50px;
    }

    .thirdblock_stickers{
        margin: 40px auto;
    }
    .thirdblockback{
        height: 400px;
    }
    
    .slider_b button{
        height: 30px;
        width: 18px;
    }

    .slider_b button img{
        height: 100%;
        width: 100%;
    }
}

















/* четвертый блок */
.thirdblockback1{
    background-color: none;
    margin-top: 0px;
    max-width: 1440px;
    width: 100%;
    height: 469px;
    display: flex;
    justify-content: center;
}

.thirdblock{
    align-items: center;
    width: 954px;
    display: flex;
    flex-direction: column;
}

.thirdblock1_title{
    margin-top: 60px;
    text-align: center;
}

.thirdblock1_text{
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.thirdblock_stickers1{
    margin-top: 60px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 20px;
}

.thirdblock_sticker{
    min-width: 183px;
    max-width: 288px;
    height: 195px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thirdblock_stickers1:nth-child(1){
    min-width: 235px;
}

.thirdblock_stickers1:nth-child(2){
    min-width: 204px;
}

.thirdblock_stickers1:nth-child(3){
    min-width: 276px;
}

.sticker_title{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin-top: 8px;
    text-align: center;
}

.sticker_text{
    margin-top: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}

@media (max-width: 774px) {
    .thirdblock_stickers1{
        width: 276px;
        gap: 300px;
        justify-content: flex-start;
        margin: 60px auto;
        position: relative;
        transition: 0.5s;
        left: 0px;
    }
    .thirdblock_sticker{
        min-width: none;
        min-width: 276px;
    }

}

.slider{
    width: 100%;
}

.slider_b{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 185px;
}

.slider_b button{
    display: none;
    margin: 0 15px;
    padding: 0 0;
    width: 35px;
    height: 60px;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    transition: 0.4s;
    position: relative;

    @media (max-width: 774px){  
        display: block;
    }
}

.prev_sl_bt1:hover{
    transform: translateX(2px);
}
.next_sl_bt1:hover{
    transform: translateX(-2px);
}


.prev_sl_bt1:active{
    transform: translateX(-2px);
}
.next_sl_bt1:active{
    transform: translateX(2px);
}


.next_sl_bt1 img{
    position: relative;
    transform: rotate(180deg);
}

@media (max-width: 600px){
    .thirdblock_title{
        font-size: 25px;
    }

}

@media (max-width: 500px){
    .thirdblock_title{
        font-size: 20px;
        margin-top: 50px;
    }

    .thirdblock_stickers1{
        margin: 40px auto;
    }
    .thirdblockback1{
        height: 400px;
    }
    
    .slider_b button{
        height: 30px;
        width: 18px;
    }

    .slider_b button img{
        height: 100%;
        width: 100%;
    }
}
















/* пятый блок */
.frelstudy{
    height: 328px;
    max-width: 994px;
    width: 100%;
    background-image: url(../img/5back.png);
    
}

.study__info button{
    font-size: 14px;
    margin: 0 0;
}

.study__info{
    margin: 50px 50px;
    width: 87%;
    height: 228px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.study__info ul{
    margin: 0 0;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 80%;
}

.study__info h3{
    margin: 0 0;
    margin-bottom: 10px;
}

.study__info h1{
    margin: 0 0;
    line-height: 35px;
    width: 80%;
    margin-bottom: 10px;
    @media (max-width: 902px){
        font-size: 29px;
        width: 90%;    
    }
    @media (max-width: 730px){
        font-size: 27px;
        width: 100%;
        }
}

.study__info p{
    width: 75%;
    margin: 0 0;
    @media (max-width: 902px){
        font-size: 14px;
        width: 85%;
        } 
    @media (max-width: 730px){
        
        width: 100%;
        }
}

@media (max-width: 675px){
    .frelstudy{
        background-image: none;
        background-color: rgba(66, 97, 157, 0.1);
    }
    .study__info{
        align-items: center;
        margin: 50px auto;
    }
    .study__info ul{
        text-align: center;
        width: 100%; 
    }


    
    }


@media (max-width: 470px){
    .study__info{
        align-items: center;
        margin: 50px auto;
    }
    .study__info ul{
        text-align: center;
    }

    .study__info h1{
        font-size: 23px;
        line-height: 25px;
    }
    
    .study__info p{
        font-size: 12px;
    }

    }


@media (max-width: 344px){
    .study__info h1{
        font-size: 19px;
        line-height: 25px;
    }
    }



















/* шестой блок */

/* мобайлферст */
.sixthblock {
    max-width: 994px;
    width: 100%;
}

.sixthblock h1{
    margin-top: 34px;
    margin-bottom: 20px;
    text-align: center;
}

.buyers_block {
    height: 436px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    overflow: hidden;   
    @media (max-width: 780px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 701.24px;
        grid-template-columns: 50%;
        grid-template-rows: 25% 25% 25% 25%;
    }
}
.buyer {
    background-color: var(--gray-color);
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
    box-sizing: border-box;
    @media (max-width: 780px) {
        width: 497px;
    }
}

.buyer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0;
}

.buyer ul{
    margin: auto 20px;
    padding: 0;
    position: relative;
    min-height: 100px;
}

.buyer h6{
    position: relative;
    margin-top: 10px;
    margin-bottom: 0px;
    z-index: 2;
    font-size: 11px;
    font-weight: 600;
    max-width: 150px;

}
.buyer p{
    position: relative;
    z-index: 2;
    font-size: 11px;
    font-weight: 300;
    max-width: 200px;
}

@media (max-width: 780px) {
    .buyers_block{
        min-height: 100px;
    }
    .buyer:nth-child(2){
        position: relative;
        top: 175.31px;
    }
    .buyer:nth-child(3){
        position: relative;
        top: -175.31px;
    }
}

@media (max-width: 500px) {
    .buyer{
        width: 95%;
        height: 175.31px;
    }
    
    .buyer img{
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: auto 5px;
    }

    .buyer p{
        margin-top: 0px;
    }
}

@media (max-width: 350px) {
    .buyer h6{
        font-size: 10px;
    }
    

    .buyer p{
        font-size: 9px;
    }
}










/* десктоп */
@media (min-width: 993px) {
    .sixthblock {
        max-width: 994px;
        width: 100%;
    }
    
    .sixthblock h1{
        margin-top: 34px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .buyers_block {
        height: 436px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        overflow: hidden;
    }
    .buyer {
        background-color: var(--gray-color);
        display: flex;
        overflow: hidden;
    }
    .buyer ul{
        margin: auto 0px;
        padding: 0;
        position: relative;
        height: 144px;
    }

    .buyer h6{
        position: relative;
        margin-top: 10px;
        z-index: 2;
        font-size: 11px;
        font-weight: 600;
        width: 150px;
        left: -25px;
        top: 17px;
    }
    .buyer p{
        position: relative;
        z-index: 2;
        font-size: 11px;
        font-weight: 300;
        width: 200px;
        left: -25px;
        top: 17px;
    }


    .buyer ul::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-left: 119px solid transparent;
        border-top: 0px solid transparent;
        border-right: 119px solid transparent;
        border-bottom: 80px solid  var(--gray-color);
        position: absolute;
        top: 32px;
        left: -155px;
        transform: rotate(-90deg);
    }

    .buyer:nth-child(4) ul::after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-left: 119px solid transparent;
        border-top: 0px solid transparent;
        border-right: 119px solid transparent;
        border-bottom: 80px solid  var(--gray-color);
        position: absolute;
        top: 32px;
        right: -155px;
        transform: rotate(90deg);
    }

    .buyer:nth-child(3) ul::after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-left: 119px solid transparent;
        border-top: 0px solid transparent;
        border-right: 119px solid transparent;
        border-bottom: 80px solid  var(--gray-color);
        position: absolute;
        top: 32px;
        right: -155px;
        transform: rotate(90deg);
    }

    .buyer:nth-child(3) p{
        left: 20px;
    }

    .buyer:nth-child(3) h6{
        left: 20px;
    }

    .buyer:nth-child(4) p{
        left: 20px;
    }

    .buyer:nth-child(4) h6{
        left: 20px;
    }
}













/* седьмой блок */
.seventh__block__back{
    max-width: 1440px;
    min-height: 200px;
    margin-top: 34px;
    width: 100%;
    background-color: rgba(66, 97, 157, 0.1);
    padding-bottom: 34px;
}

.seventh__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seventh_menus {
    max-width: 994px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    @media (max-width: 1030px) {
        align-items: center;
        flex-direction: column;
    }
}





.seventh_menu {
    position: relative;
    max-width: 470px;
    width: 100%;
    background-color: var(--gray-color);
    display: grid;
    grid-template-rows: min-content 0fr;
    height: max-content;
    overflow: hidden;
    @media (max-width: 1030px) {
        width: 90%;
    }
}

.seventh_menu.open{
    grid-template-rows: min-content 1fr;
}

.seventh_menu.open > p {
    margin-bottom: 20px;
}

.seventh_menu p{
    min-height: 0px;
    margin: 0 20px;
    font-size: 13px;
    font-weight: 400;
}


.seventh_menu h3{
    position: relative;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    @media (max-width: 437px) {
        font-size:13px
    }
}



/* стрелка */
.seventh_menu h3::after{    
    content: "";
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

    position: relative;
    right: 0;
    top: 6px;
    height: 10px;
    width: 10px;
    
    transition: .4s;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

}

.seventh_menu.open h3::after{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}












.eighthblock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eighthblock  button{
    color: white;
    height: 30px;
    width: 150px;
    margin-bottom: 20px;
}
.eighthblock h1{
    margin-top: 34px;
}
















/* footer */
.footer{
    margin-top: 34px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media (max-width: 967px) {
    .socials_bs{
        display: flex;
        
    }
    .store_bs{
        display: flex;
    }
    .social_b{
        margin: 0 10px;
    }
    .store_b{
        margin: 0 10px;
    }
}

@media (max-width: 650px) {
    
}

.footer_main_b{
    max-width: 954px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 967px) {
        justify-content: space-around;
    }
    @media (max-width: 650px) {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 280px;
        align-items: center;
        align-content: center; 
        gap: 5px;
    }
    @media (max-width: 480px) {
        min-height: 100px;
        height: 100%;
    }
}

.footer_main_b_block{
    @media (max-width: 650px) {
        width: 40%;
    }
    @media (max-width: 480px) {
        width: 75%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}

.fbtb{
    display: flex;
    flex-direction: column;
}

.sdsd{
    margin-bottom: 21px;
    @media (max-width: 650px) {
        display: none;
    }
}

.footer_b_title{
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
    @media (max-width: 480px) {
        margin-bottom: 5px;
    }
}


.footer_b_title h4{
    margin-top: 0px;
    margin-bottom: 10px;
    @media (max-width: 480px) {
        display: flex;
        justify-content: space-between;
    }
}

/* стрелочка */
.footer_b_title h4 i{    
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

    position: relative;
    top: 4px;
    height: 10px;
    width: 10px;
    
    transition: .3s;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

    @media (min-width: 481px) {
        display: none;
    }
}

.footer_b_title.open > h4 > i{
    top: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


.fb{
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0px;
    margin-bottom: 7px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.footer_b_title div{
    @media (max-width: 480px) {
        display: none;
    }
    
}

.footer_b_title.open div{
    @media (max-width: 480px) {
        display: flex;
    }
    
}

.footer_social_b{
    height: 35px;
    display: flex;
    max-width: 954px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 967px) {
        width: 96%;
        margin-bottom: 1%;
    }
    @media (max-width: 650px) {
        margin-top: 30px;
    }
}


.social_b {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 26px;
    height: 26px;
    padding: 0 0;
    margin: 0 5px;
    
}



.store_b{
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0 0;
    margin: 0 10px;
    width: 75px;
    height: 27px;
}   