html {
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

:root{                                                  /*Цвета*/
    --pink-color: #CF65C5;
    --blue-color: #42619D;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --gray-color: #D9D9D9;
}

.text-h1 {                                              /*Большой заголовок*/
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 36px;
}

.text-h2 {                                              /*Заголовок блока*/
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.text_light{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.text-h4{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.text-h5{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

                        /* HEADER */
.header {
    margin: 0 auto;
}

.header1{
    height: 68px;
    border-bottom: 1px solid #42619D;
    display: flex;
    justify-content: center;
}

.header11{
    width: 954px;
}

.header2{
    display: flex;
    justify-content: center;
}

.header21{
    display: flex;
    justify-content: center;
    width: 954px;
}

.mainmenu {
    min-height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.mainlogosearch {
    display: flex;
    padding-bottom: 9px;
    
}

.logo {
    max-width: 74px;
    max-height: 45px;
    padding-left: 8px;
}

.searchbox {
    margin-left: 19px;
    margin-top: 19px;
    display: inline-flex;
}

.search_bar {
    height: 17px;
    width: 170px;
    display: inline-flex;
    border: 1px solid var(--pink-color);
    background-color: var(--blue-color);
    border-radius: 3px;
}

.searchinput {
    background-color: transparent;
    height: 15px;
    width: 140px;
    font-size: 7px;
    outline: none;
    border: none;
    margin-left: 3px;
    color: #D9D9D9;
    opacity: 0.5;
}


.search_button {
    cursor: pointer;
    margin-left: 4px;
    height: 100%;
    outline: none;
    border: 1px solid var(--pink-color);
    background-color: var(--pink-color);
    color: var(--white-color);
    font-size: 7px;
    border-radius: 0px 1px 1px 0px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:   var(--white-color);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:   var(--white-color);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:   var(--white-color);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:   var(--white-color);
}
 
.mainbuttons {
    padding-top: 2px;
    padding-right: 61.5px;
    padding: auto;
    
}

.signin_button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.signup_button {
    cursor: pointer;
    background-color: var(--pink-color);
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    border-radius: 5px;
}

.frilancer_button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.catalog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 48px;
    min-width: 945px;
}

.catalog_button {
    cursor: pointer;
    margin-bottom: 2px;
    padding-left: 1px;
    padding-right: 1px;
    border: none;
    background-color: transparent;
}


                        /* FIRST BLOCK */

.main{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
}
        
.firstblock_back {
    width: 1440px;
    min-height: 567px;
    background-image: url(../img/fbback.png);
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.firstblock_titlediv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 152px;
}

.firstblock_title {
    font-weight: 700;
    font-size: 36px;
    /* dsadadssadasdasdasd text-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.9); */
}

.firstblock_text {
    font-weight: 400;
    font-size: 16px;
    margin-top: 5px;
}

.singup_button {
    margin-top: 20px;
    height: 37px;
    width: 180px;
    font-weight: 500;
    font-size: 17px;
}

.aass {
    color: var(--white-color);
    margin-top: 20px;
    width: 180px;
    height: 37px;
    font-weight: 500;
    font-size: 17px;
}

.firstblock_statdiv {
    width: 100%;
    min-height: 138px;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.firstblock_stats {
    width: 954px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.firstblock_stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fb_statname {
    font-weight: 400;
    font-size: 20px;
}

.fb_statinfo {
    font-weight: 700;
    font-size: 36px;
}











                        /* FOOTER */

.footer{
    margin-top: 34px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer_main_b{
    min-width: 954px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fbtb{
    display: flex;
    flex-direction: column;
}

.sdsd{
    margin-bottom: 21px;
}

.footer_b_title{
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.fb{
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0px;
    margin-bottom: 7px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 12px;
}


.footer_social_b{
    height: 35px;
    display: flex;
    min-width: 954px;
    align-items: center;
    justify-content: space-between;
}


.social_b {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 26px;
    height: 26px;
    padding: 0;
}



.store_b{
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    width: 80px;
    height: 27px;
}

.secondblockback{
    justify-content: center;
    display: flex;
}

.secondblock{
    margin-top: 34px;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title_text_b2{
    color: var(--black-color);
    margin-left: 9px;
}

.resumesdiv{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.resumediv{
    display: flex;
    margin-left: 7.5px;
    margin-right: 7.5px;
    margin-top: 15px;
    width: 239px;
    height: 239px;
    align-items: flex-end;
    justify-content: flex-start;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0px -100px 50px -60px;
}

.categories_button_text{
    margin-bottom: 10px;
    margin-left: 10px;
    color: var(--white-color);
}

.cbbackground_1{
    background-image: url(../img/linkbuilder.png);
    background-size: cover;
    background-position: center;
}

.cbbackground_2{
    background-image: url(../img/webdev.png);
    background-size: cover;
    background-position: center;
}

.cbbackground_3{
    background-image: url(../img/dicktior.png);
    background-size: cover;
    background-position: center;
}

.cbbackground_4{
    background-image: url(../img/translater.png);
    background-size: cover;
    background-position: center;   
}

.cbbackground_5{
    background-image: url(../img/desingner.png);
    background-size: cover;
    background-position: center;
}

.cbbackground_6{
    background-image: url(../img/actor.png);
    background-size: cover;
    background-position: center;
}

.cbbackground_7{
    background-image: url(../img/producer.png);
    background-size: cover;
    background-position: center;
}

.resdivforregb{
    background-color: var(--gray-color);
    box-shadow: none;
    align-items: center;
    justify-content: center;
}

.resdivforregb_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text_underresume{
    text-align: center;
    margin-top: 10px;
}

.urrb{
    margin-top: 15px;
    color: var(--white-color);
    width: 180px;
    height: 37px;
    font-weight: 500;
    font-size: 17px;
}

/* третий блок */

.thirdblockback{
    background-color: rgba(66, 97, 157, 0.1);
    margin-top: 34px;
    width: 1440px;
    height: 469px;
    display: flex;
    justify-content: center;
}

.thirdblock{
    align-items: center;
    width: 954px;
    display: flex;
    flex-direction: column;
}

.thirdblock_title{
    margin-top: 60px;
}

.thirdblock_text{
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.thirdblock_stickers{
    margin-top: 60px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.thirdblock_sticker{
    width: 183px;
    height: 195px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sticker_title{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin-top: 8px;
}

.sticker_text{
    margin-top: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}

.dasasdda{
    margin-left: 20px;
}

.aaaaaaa{
    margin-left: 75px;
    width: 195px;
}

.dfasdasda{
    width: 281px;
}


/* четвертый блок */


.thirdblockback1{
    background-color: rgba(255, 255, 255, 0.2);
    width: 1440px;
    height: 469px;
    display: flex;
    justify-content: center;
}

.thirdblock1{
    align-items: center;
    width: 954px;
    display: flex;
    flex-direction: column;
}

.thirdblock_title1{
    margin-top: 60px;
}

.thirdblock_text1{
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.thirdblock_stickers1{
    margin-top: 60px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.thirdblock_sticker1{
    width: 183px;
    height: 195px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sticker_title1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin-top: 8px;
    text-align: center;
}

.sticker_text1{
    margin-top: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}

.dasasdda1{
    width: 320px;
}

.aaaaaaa1{
    width: 255px;
}

.dfasdasda1{
    width: 281px;
}



/* пятый блок */

.frelstudy{
    height: 328px;
    width: 994px;
    background-image: url(../img/5back.png);
}