{% extends 'mainApp/layout.html' %}
{% load static %}


{% block title %}
<link rel="stylesheet" href={% static "messenger.css" %}>
<title>Chat</title>
{%endblock%}


{% block content %}
<main>

    <div class="messenger_container">
        <!-- menu -->
        <div class="menu_container" >
            <div class="background_mcss"></div>
            <form action="" class="search">
                <input type="text" placeholder="Поиск">
            </form>

            







            <!-- CHAT ROOMS --><!-- CHAT ROOMS --><!-- CHAT ROOMS -->
            <!-- CHAT ROOMS --><!-- CHAT ROOMS --><!-- CHAT ROOMS -->
            <ul id='chatrooms'>

                <span class='empty_chatrooms'>
                    Загрузка...
                </span>


                {% comment %} <div class="messege_div">
                    <div class="messege_div_title">
                        <img src={% static "mainApp/img/dasdadadadasdsadsadaa.png" %} alt="status" class="status_pl">
                        <img class="messege_div_avatar" src={% static "mainApp/img/medium.jpg" %} alt="avatar">
                        <div class="user_info">
                            <p>nickname</p>
                            <p class="mes">message</p>
                        </div>
                        <div class="messege_info">
                            <p class="date">date time</p>
                            <div class="read_or">
                                <i></i><i></i>
                            </div>
                        </div>
                    </div> 
                </div>

               
                <div class="messege_div">
                    <div class="messege_div_title">
                        <img class="messege_div_avatar" src={% static "mainApp/img/medium.jpg" %} alt="avatar">
                        <div class="user_info">
                            <p>nickname</p>
                            <p class="mes">medassasdaasdadsdasasddsadsassage</p>
                        </div>
                        <div class="messege_info">
                            <p class="date">date time</p>
                            <div class="read_or">
                                <i></i><i></i>
                            </div>
                        </div>
                    </div> 
                </div> {% endcomment %}

            </ul>
                <!-- end CHAT ROOMS --><!-- CHAT ROOMS --><!-- CHAT ROOMS -->
                <!-- end CHAT ROOMS --><!-- CHAT ROOMS --><!-- CHAT ROOMS -->
               

        </div>










        <!-- start messenger -->

        <div class="messenger" id='chatDiv'>
            <button class="chat_brg" id="burger_chat"> 
                <div></div>
                <div></div>
                <div></div>
            </button>
            <span class='empty_messanger'></span>
        </div>

{% comment %}         
        <div class="messenger" id='chatDiv'>
            <!-- user title -->
            <div class="user_title">
                <div class="title">
                    <button class="chat_brg" id="burger_chat"> 
                        <div></div>
                        <div></div>
                        <div></div>
                    </button>
                    <img class="avatar" src={% static "mainApp/img/medium.jpg" %} alt="avatar">
                    <div>
                        <p>nickname</p>
                        <p class="status_info">Онлай(статус)</p>
                    </div>
                </div>
                <div class="title_settings">
                    <div class="search_form">
                        <button class="search_btn"></button>
                        <input placeholder="поиск"></input>
                    </div>
                    <div class="chat_set">
                        <button></button>
                        <ul>
                            <button>Кнопка</button>
                            <button>Кнопка</button>
                            <button>Удалить переписку</button>
                        </ul>
                        
                    </div>
                </div>
            </div>



            <!-- chat -->                <!-- chat -->                <!-- chat -->                <!-- chat -->
            <!-- chat -->                <!-- chat -->                <!-- chat -->                <!-- chat -->
            <!-- chat -->                <!-- chat -->                <!-- chat -->                <!-- chat -->
                <!-- Новые сообщения добавляются сверху (first-child) -->
            <div class="chat">
                <ul>
                
                    <div class="mess from">
                        <img class="messege_div_avatar" src={% static "mainApp/img/medium.jpg" %} alt="avatar">
                        <div class="messege_user_info">
                            <p>собеседник nickname</p>
                            <p class="messs">последнее Сообщение вашего собеседника вфыввыфвфвфыввыфвфвфыввы фвфвфыввыфвфвфыввыфвфвфыввыфвфвфыввыфвфвфыввыфвфвфыввыф вфвфыввыфвфвфыввыфвфвфыввыфвфвфыввыфвфвфыввыфвфвфыввыфвф</p>
                        </div>
                    </div>
        
                    <div class="mess to">
                        <div class="messege_user_info">
                            <p>Вы</p>
                            <p class="messs"> 111 сообщение Собщение от вас пфрвафр авфпвп авпыв апаывп ыв пвыапыв авпфрвафр авфпвп авпыв апаывп ыв пвыапыв авпфрвафр авфпвп авпыв апаывп ыв пвыапыв авпфрвафр авфпвп авпыв апаывп ыв пвыапыв авпфрвафр авфпвп авпыв апаывп ыв пвыапыв ав</p>
                        </div>
                        <img class="messege_div_avatar" src={% static "mainApp/img/medium.jpg" %} alt="avatar">
                    </div>
                 


                </ul>
            </div>
            <!-- chat -->                <!-- chat -->                <!-- chat -->                <!-- chat -->
            <!-- chat -->                <!-- chat -->                <!-- chat -->                <!-- chat -->
            <!-- chat -->                <!-- chat -->                <!-- chat -->                <!-- chat -->
                    




            <!-- input div -->                <!-- input div -->                <!-- input div -->                <!-- input div -->                <!-- input div -->
            <!-- input div -->                <!-- input div -->                <!-- input div -->                <!-- input div -->                <!-- input div -->
            <div class="input_div">
                <img class="file_b" src={% static 'mainApp/img/screpi.png'%} alt="скрепка">
                <textarea class="message_input" placeholder="Введите сообщение...">
                </textarea>
                <div class="smile">
                    <img src={% static 'mainApp/img/smile.png'%} alt="смайлик">
                </div>
                <img class="send_b" src= {% static 'mainApp/img/send-4008.png'%} alt="send">
            </div>
            <!-- input div -->                <!-- input div -->                <!-- input div -->                <!-- input div -->                <!-- input div -->
            <!-- input div -->                <!-- input div -->                <!-- input div -->                <!-- input div -->                <!-- input div -->
        </div> {% endcomment %}


    </div>
</main>

<script src={% static "messenger.js" %}></script>


{% comment %} CHAT JAVASCRIPT {% endcomment %}
<script>
// WebSocket connect
let url = `ws://${window.location.host}/ws/socket-server/`

const chatSocket = new WebSocket(url)


chatSocket.onopen = function(e) {
    console.log(`WebSockets opened`)
}

chatSocket.onmessage = function(e) {
    console.dir(e)
    let data = JSON.parse(e.data)
    console.log('websockets:', data)
    if (data.type === 'new_message') {
        ShowNewMessage(data.message_data)
    }
}

function ShowNewMessage(message_data) {
    let intID = message_data.chatroom.interlocutor.id
    let createrID = message_data.chatroom.creater.id
    let chatRoomID = message_data.chatroom.id
    let message = message_data.text

    // Показать сообщение в чате
    chatDivByInt = document.getElementById(`chatDivID${intID}`)
    chatDivByCreater = document.getElementById(`chatDivID${createrID}`)
    if (chatDivByInt != null) {
        // отобразить в чате
        ulDiv = chatDivByInt.querySelector(".chatUl")
        ulDiv.appendChild(createMessageDiv(message_data, message_data.chatroom.interlocutor, message_data.chatroom.creater))
        console.log('создал')
    }
    if (chatDivByCreater != null) {
        // отобразить в чате
        ulDiv = chatDivByCreater.querySelector(".chatUl")
        ulDiv.appendChild(createMessageDiv(message_data, message_data.chatroom.creater, message_data.chatroom.interlocutor))
        console.log('создал')
    }

    // Показать сообщение в комнатах
    chatRoomDiv = document.getElementById(`chatRoomId${chatRoomID}`)
    last_mesDiv = chatRoomDiv.querySelector('.mes')
    console.dir(last_mesDiv)
    last_mesDiv.innerHTML = message

    let chatRooms = document.getElementById('chatrooms');
    chatRooms.insertBefore(chatRoomDiv, chatRooms.firstChild);
}






function chooseInterlocutor(chatRoomJson, requester_id) {
    if (requester_id == chatRoomJson.creater.id) {
        return chatRoomJson.interlocutor
    } else if (requester_id == chatRoomJson.interlocutor.id) {
        return chatRoomJson.creater
    }
}

function chooseRequseter(chatRoomJson, requester_id) {
    if (requester_id == chatRoomJson.creater.id) {
        return chatRoomJson.creater
    } else if (requester_id == chatRoomJson.interlocutor.id) {
        return chatRoomJson.interlocutor
    }
}




function getFullUrlWithHost(url) {
    return `http://${window.location.host}${url}`
}

// 3. создание компонентов для страницы
function createChatRoomDiv(chatRoomJson, requester_id, csrf_token) {
    let chatRoomId = chatRoomJson.id
    // Выбор кого отображать собеседником для chatRoom 
    let interlocutor = chooseInterlocutor(chatRoomJson, requester_id)
    let interlocutorAvatar = getFullUrlWithHost(interlocutor.avatar)
    let lastMessageText = chatRoomJson.last_message.text
    let lastMessageDate = chatRoomJson.last_message.date

    const div = document.createElement('form');
    div.classList.add(`messege_div`);
    div.setAttribute('id', `chatRoomId${chatRoomId}`)
    // div.classList.add(`roomid_${chatRoomId}`);
    div.innerHTML = `<div class="messege_div_title">
                        <img class="messege_div_avatar" src='${interlocutorAvatar}' alt="avatar">
                        <div class="user_info">
                            <p>${interlocutor.username}</p>
                            <p class="mes">${lastMessageText}</p>
                        </div>  
                        <div class="messege_info">
                            <p class="date">${lastMessageDate}</p>
                            <div class="read_or">
                                ??<i></i><i></i>
                            </div>
                        </div>
                    </div>`
    div.onclick = function () {
        chatDiv = document.getElementById(`chatDivID${interlocutor.id}`)
        if (chatDiv === null) {
            div.style.backgroundColor = '#dbd8d8'
            getChatRoomFetch(interlocutor.id, csrf_token)
        }

    }
    return div
    }



// TODO: Сделать модель чата, из которой будут строиться все отображение


// ОБЪЕКТ CHATROOMS
var chatRoomsModer = function () {
    const chatRoomsDiv = document.getElementById('chatrooms')
    return {
        div: chatRoomsDiv,
        stateNull: () => {chatRoomsDiv.innerHTML = `<span class='empty_chatrooms'>Загрузка</span>`},
        state0: () => {chatRoomsDiv.innerHTML = `<span class='empty_chatrooms'>У вас нет чатов</span>`},
        state1: (chatRoomsJson, requester_id, csrf_token) => {
            // Обнуление
            chatRoomsDiv.innerHTML = ''
            // Добавление
            chatRoomsJson.forEach(chatRoomJson => {
                chatRoomsDiv.appendChild(createChatRoomDiv(chatRoomJson, requester_id, csrf_token)) 
            });
        }
    }
}












function createUserTitleDiv(fetchData) {
    let interlocutor = chooseInterlocutor(fetchData.data, fetchData.requester_id)
    let avatar = getFullUrlWithHost(interlocutor.avatar)
    let username = interlocutor.username
    

    return `<div class="user_title">
                <div class="title">
                    <button class="chat_brg" id="burger_chat"> 
                        <div></div>
                        <div></div>
                        <div></div>
                    </button>
                    <img class="avatar" src=${avatar} alt="avatar">
                    <div>
                        <p>${username}</p>
                        <p class="status_info">{??}Онлай(статус)</p>
                    </div>
                </div>
                <div class="title_settings">
                    <div class="search_form">
                        <button class="search_btn"></button>
                        <input placeholder="поиск"></input>
                    </div>
                    <div class="chat_set">
                        <button></button>
                        <ul>
                            <button>Кнопка</button>
                            <button>Кнопка</button>
                            <button>Удалить переписку</button>
                        </ul>       
                    </div>
                </div>
            </div>`
};

 
function createChatUlDiv(fetchData) {
    let chatDiv = document.createElement('div');
    chatDiv.className = 'chat';

    if (fetchData.data.all_messages) {
        let interlocutor = chooseInterlocutor(fetchData.data, fetchData.requester_id)
        let requester = chooseRequseter(fetchData.data, fetchData.requester_id)


        let chatUl = document.createElement('ul');
        chatUl.className = 'chatUl';
        chatDiv.appendChild(chatUl)
        fetchData.data.all_messages.forEach(message => {
            chatUl.appendChild(createMessageDiv(message, interlocutor, requester))
        })

        return chatDiv.outerHTML
    } else {
        return chatDiv.outerHTML
    }


};


function createMessageDiv(message, interlocutor, requester) {

    if (message.owner == requester.id) {
        from = 'to'
        username = requester.username 
        avatar = getFullUrlWithHost(requester.avatar)
    } else {
        from = 'from'
        username = interlocutor.username
        avatar = getFullUrlWithHost(interlocutor.avatar)
    }

    let div = document.createElement('div')
    div.className = `mess ${from}`
    div.innerHTML = `<img class="messege_div_avatar" src=${avatar} alt="avatar">
                     <div class="messege_user_info">
                         <p>${username}</p>
                         <p class="messs">${message.text}</p>
                     </div>
                    `

    return div
}

// TODO: Сделать кнопку, которая, будет отсылать запрос с сообщением
function createFormDiv(interlocutorID, csrf_token, fetchData) {
    // Создание формы
    var form = document.createElement('form')
    form.className = `input_div`
    form.setAttribute('method', 'post');
    form.setAttribute('id', 'msgForm');
    form.innerHTML = `<span class="file_b backimgset"></span>
                    <input type='hidden' name='intID' value='${interlocutorID}'></input>
                    <input type='hidden' name='chatRoomID' value='${fetchData.data.id}'></input>
                    <input type='hidden' name='csrfmiddlewaretoken' value='${csrf_token}'></input>
                    <textarea name='text' class="message_input" placeholder="Введите сообщение..."></textarea>
                    <span class="smile backimgset"></span>`
    // Создание кнопки
    var button = document.createElement('button')
    button.className = `send_b backimgset`
    // Добавление кнопки
    form.appendChild(button)
    return form.outerHTML
};



function getChatRoomFetch(intID, csrf_token) {
    var paramsForChatRoomApi = {intID:intID}
    const params = new URLSearchParams(paramsForChatRoomApi);

    fetch(`http://${window.location.host}/api/chatroom/?`+ params)
        .then(response => {
            if (!response.ok) {
            throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log('ChatRoomFetch - ', data); // Data received from the API
            const Chat = chatModer()
            Chat.createForm(intID, csrf_token, data)


        })
        .catch(error => {
            console.error('There was a problem with your fetch operation:', error);
        });

}



// ОБЪЕКТ CHATFORM
var chatModer = function () {
    const chatDiv = document.getElementById('chatDiv')
    
    return {
        stateNull: () => {chatDiv.innerHTML = `<button class="chat_brg" id="burger_chat"> 
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </button>
                                                <span class='empty_messanger'></span>`},
        createForm: (intID, csrf_token, fetchData) => {
            chatDiv.innerHTML = `
                <div class="messenger" id='chatDivID${intID}'>
                    ${createUserTitleDiv(fetchData)}
                    ${createChatUlDiv(fetchData)}
                    ${createFormDiv(intID, csrf_token, fetchData)}
                </div> 
            `
            document.getElementById("msgForm").onsubmit = function(e) {
                // Функция отправки сообщения с формы кнопкой "Отправить"
                e.preventDefault()
                const formData = new FormData(this)
                // encode text to bytes
                let utf8EncodedString = encodeURIComponent(formData.get("text"));
                formData.set('text', utf8EncodedString)

                sendMessageWS(formData)               
            }
        

            

        }
    }
}


function sendMessageWS (formData) {
    const queryString = new URLSearchParams(formData).toString()
    chatSocket.send(queryString)
    console.log('отправил дату на ws')

}


function getChatRoomsXHR (csrf_token) {
    // 1. Ajax xRequests to API TO GET ROOMS
    let url = `http://${window.location.host}/api/chatrooms/`

    // XML METHOD
    let xhr = new XMLHttpRequest();
    xhr.open('get', url, true);
    xhr.onreadystatechange = function () {
        if (xhr.readyState == 4 && xhr.status == 200) {
            // console.log(xhr)
            console.log('ChatRoomsXML - ', JSON.parse(xhr.responseText))
            let jsonData = JSON.parse(xhr.responseText)

            const Rooms = chatRoomsModer()
            const Chat = chatModer()
            if (jsonData.data.length > 0) {
                Rooms.state1(jsonData.data, jsonData.requester_id, csrf_token)
            } else {
                Rooms.state0()
            }
        }    
    }
    xhr.send()
}

function main () {
    const csrf_token = `{{csrf_token}}`;
    const Chat = chatModer()
    getChatRoomsXHR(csrf_token)


    {% if type_of_chat == 'PeerToPeer'%}
        // Получаем параметры запроса из URL
        const urlParams = new URLSearchParams(window.location.search);
        // Получаем конкретный параметр из URL
        let intID = urlParams.get('intID');

        getChatRoomFetch(intID, csrf_token)
    {% endif %}
}

main()





</script>

    
    


{%endblock%}
