{% extends 'mainApp/layout.html' %}
{% load static %}


{% block title %}
<link rel="stylesheet" href={% static "mainApp\css\category.css" %}>
<title>To Freelancer</title>
{%endblock%}


{% block content %}

    <main class="main">
        <div class="mainblock">
            <div class="main__title">
                <h1>Разработка в IT
                    <div class="title_burger" id="Tburger"> 
                        <span></span>
                        <span></span>
                        <span></span>
                        <div class="title_burger_container"></div>
                    </div>
                </h1>
                <p>Эти программы помогут создать даже новый Фейсбук</p>
            </div>
            <div class="catalog__container">
                <div class="catalog__menus" id="TBmenu">
                    <h2>Разработка в IT</h2>
                    <div class="catalog__menu">
                        <h3>Доработка и настройка сайта</h3>
                        <button>Доработка сайта</button>
                        <button>Настройка сайта</button>
                        <button>Защита и лечение сайта</button>
                        <button>Ускорение сайта</button>
                        <button>Плагины и темы</button>
                        <button>Исправление ошибок</button>
                    </div>
                    <div class="catalog__menu">
                        <h3>Создание сайтов</h3>
                        <button>Новый сайт</button>
                        <button>Копия сайта</button>
                    </div>
                    <div class="catalog__menu">
                        <h3>Верстка</h3>
                        <button>Верстка по макету</button>
                        <button>Доработка и адаптация верстки сайта</button>
                    </div>
                    <div class="catalog__menu">
                        <h3>Десктопное программирование</h3>
                        <button>Макросы для Office</button>
                        <button>1C</button>
                        <button>Готовые программы</button>
                        <button>Программы на заказ</button>
                    </div>
                    <div class="catalog__menu">
                        <h3>Скрипты и боты</h3>
                        <button>Скрипты</button>
                        <button>Парсеры</button>
                        <button>Чат-боты</button>
                    </div>
                    <div class="catalog__menu">
                        <h3>Мобильные приложения</h3>
                        <button>IOS</button>
                        <button>Android</button>
                    </div>
                    <div class="catalog__menu">
                        <h3>Игры</h3>
                        <button>Разработка игр</button>
                        <button>Игровые серверы</button>
                        <button>Готовые игры</button>
                    </div>
                    <div class="catalog__menu">
                        <h3>Серверы и хостинги</h3>
                        <button>Администрирование сервера</button>
                        <button>Домены</button>
                        <button>Хостинг</button>
                    </div>
                    <div class="catalog__menu">
                        <h3>Юзабилити, тесты и помощь</h3>
                        <button>Юзабилити-аудит</button>
                        <button>Тестирование на ошибки</button>
                        <button>Компьютерная помощь и IT помощь</button>
                    </div>
                </div>
                <div class="catalog__categorys">
                    
                    <button class="categories_button cbbackground_1">
                        <h3>Дизайн</h3>
                    </button>
                    
                </div>
            </div>
        </div>

        <script src={% static "mainApp/js/category.js" %}></script>

    </main>

    {%endblock%}
