{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={% static "mainApp\css\layout.css" %}>
    {% block title %}{% endblock %}
</head>

<body>
    
    <header class="header" id="burgerH"> 
        <div class="authdiv">
            <div class="auth_container"> 

                <div class="regdiv">
                    <h1>Регистрация</h1>

                    <form  action="{% url 'signup' %}" method='POST'>
                        {% csrf_token %}
                        <input type="text" placeholder="Логин" name='username' required minlength='5' maxlength='30' >
                        <input type="text" placeholder="Пароль" name='password1' required minlength='5' maxlength='50'>
                        <input type="text" placeholder="Повторите пароль" name='password2' required minlength='5' maxlength='50'>
                        <div class="authcheckbox">
                            <input type="checkbox" id='confpol_checkbox' name='confpol_apply' required>
                            <label for="confpol_checkbox">Я ознакомлен(а), понимаю и принимаю Пользовательские соглашения, <a>Политику конфиденциальности и согласен(а) на получение email-рассылок.</a></label>
                        </div>
                        <button>Зарегистрироваться</button>
                    </form>

                    <span>или</span>
                    <p>Уже зарегистрированы? <a id="signin">Войти</a></p>
                </div>

                <div class="signindiv">
                    <h1>Вход</h1>

                    <form action="{% url 'login' %}" method='POST'>
                        {% csrf_token %}
                        <input type="text" placeholder="Логин" name='username' required>
                        <input type="text" placeholder="Пароль" name='password' required>
                        <div class="authcheckbox">
                            <input type="checkbox" id='savepassword_checkbox' name='savepassord_apply'>
                            <label for="savepassword_checkbox">Запомнить пароль</label>
                        </div>
                        <button>Войти</button>
                    </form>
                    
                    <span>или</span>
                    <p>Нет аккаунта? <a id="signup">Зарегистрироваться</a></p>
                </div>

            </div>
        </div>




        <div class="header1">
            <div class="header11">
                <div class="mainmenu">
                    <div class="mainlogosearch">
                        <div class="logo">
                            <a href="{% url 'main' %}"><img src={% static "mainApp/img/logo.png" %} alt="Logo"></a>
                        </div>
                        <div class="searchbox">
                            <form action="" class="search_bar">
                                <input type="text" placeholder="Найти услугу..." class="searchinput">
                                <button class="search_button">Найти</button>
                            </form>
                        </div>
                        <div class="burger" id="burger"> 
                            <span class="burgerline"></span>
                            <span class="burgerline"></span>
                            <span class="burgerline"></span>
                        </div>
                    </div>
                    
                    
                    <div class="mainbuttons" id="burger_menu1"> 
                        {% if user.is_authenticated %}
                        <div class="profilelinks">
                            <a href="{% url 'myprofile' %}" class="profilelink"><img class='userav' src="{{ user.avatar.url }}" alt="profile" ></a>
                            <form action="{% url 'logout' %}" method="get"><button>Выйти</button></form>
                            <a href="{% url 'chat'%}">Сообщения{??}</a>
                            <a href="{% url "new_project" %}">Создать проект{??}</a>
                        </div>
                        {% else %}
                        <button class="signin_button" id="signin">Вход</button>
                        <button class="signup_button" id="signup">Регистрация</button>
                        {% endif %}
                        <a href="{% url 'freelancer' %}"><button class="frilancer_button">Фрилансеру</button></a>
                    </div>

                </div>
            </div>
        </div>
        <div class="header2" id="burger_menu2"> 
            <div class="header21">
                <div class="catalog">
                    <a href='/projects/design'><button class="catalog_button">Дизайн</button></a>
                    <a href='/projects/it-development'><button class="catalog_button">Разработка в IT</button></a>
                    <a href='/projects/write-job'><button class="catalog_button">Текста и переводы</button></a>
                    <a href='/projects/traffic'><button class="catalog_button">СЕО и трафик</button></a>
                    <a href='/projects/socials'><button class="catalog_button">Социальные сети и реклама</button></a>
                    <a href='/projects/motions-photo'><button class="catalog_button">Аудио, видео, съемка</button></a>
                    <a href='/projects/business'><button class="catalog_button">Бизнес и жизнь</button></a>
                </div>
            </div>
        </div>
    </header>
        
    {% block content %}{% endblock %}

    <footer class="footer">
        <div class="footer_main_b">
            <div class="footer_main_b_block">
                <div class="logo sdsd">
                    <img src={% static "mainApp/img/logo.png" %} alt="Logo">
                </div>
                <div class="footer_b_title">
                    <h4>Поддержка<i></i></h4>
                    <div class="fbtb">
                        <button class="fb">Вопрос - ответ</button>
                        <button class="fb">Служба поддержки</button>
                    </div>
                </div>
            </div>
            <div class="footer_main_b_block">
                <div class="footer_b_title">
                    <h4>О проекте<i></i></h4>
                    <div class="fbtb">
                        <button class="fb">О проекте</button>
                        <button class="fb">Пользовательские соглашения</button>
                        <button class="fb">Политика конфидециальности</button>
                        <button class="fb">Способы оплаты</button>
                        <button class="fb">Карьера на проекте</button>
                    </div>
                </div>

            </div>
            <div class="footer_main_b_block">
                <div class="footer_b_title">
                    <h4>Сообщество<i></i></h4>
                    <div class="fbtb">
                        <button class="fb">Блог</button>
                        <button class="fb">Партнерская программа</button>
                        <button class="fb">Кейсы</button>
                    </div>
                </div>
                
            </div>
            <div class="footer_main_b_block">
                <div class="footer_b_title">
                    <h4>Полезное<i></i></h4>
                    <div class="fbtb">
                        <button class="fb">Покупателю</button>
                        <button class="fb">Фрилансеру</button>
                        <button class="fb">Как заработать на проекте</button>
                        <button class="fb">Рубрики</button>
                        <button class="fb">Мобильное приложение</button>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="footer_social_b">
            <div class="socials_bs">
                <button class="social_b">
                    <img src={% static "mainApp/img/pngwing.png" %} alt="VK" width="26px" height="26px">
                </button>
                <button class="social_b">
                    <img src={% static "mainApp/img/tg.png" %} alt="TG" width="26px" height="26px">
                </button>   
            </div>
            <div class="store_bs">
                <button class="store_b">
                    <img src={% static "mainApp/img/appstore.png" %} alt="appstore" width="80px" height="27px">
                </button>
                <button class="store_b">
                    <img src={% static "mainApp/img/googlestore.png" %} alt="googlestore" width="80px" height="27px">
                </button>
            </div>
        </div>
    </footer>
    <script src={% static "mainApp/js/layout.js" %}></script>
</body>

</html>