{% extends 'mainApp/layout.html' %}
{% load static %}


{% block title %}
<link rel="stylesheet" href={% static "mainApp\css\main.css" %}>
<title>MainPage</title>
{%endblock%}


{% block content %}
<main class="main">
    <div class="firstblockBack">
        <div class=firstblock>
            <div class="title_text text-h1">Покупайте фриланс услуги в один клик</div>
            <div class="big_searchbox">
                <form action="" class="big_search_bar">
                    <input type="text" placeholder="Создание сайта на Wix" class="big_searchinput">
                    <button class="big_search_button">Найти</button>
                </form>

            </div>
        </div>
    </div>
    <div class="ourparthersback">
        <div class="logosback">
            <div class="partherlogo">
                <img src={% static "mainApp/img/Dodo_Logo.svg.png" %} alt="dodopizza" width="110" height="40">
            </div>
            <div class="partherlogo">
                <img src={% static "mainApp/img/oriflame.png" %} alt="oriflame" width="110" height="40">
            </div>
            <div class="partherlogo">
                <img src={% static "mainApp/img/Dns-shop_logo.png" %} alt="dns" width="110" height="40">
            </div>
            <div class="partherlogo">
                <img src={% static "mainApp/img/MVideo_2014.png" %} alt="mvideo" width="110" height="40">
            </div>
            <div class="partherlogo">
                <img src={% static "mainApp/img/Official_unity_logo.png" %} alt="unity" width="110" height="40">
            </div>
            <div class="partherlogo">
                <img src={% static "mainApp/img/openai-1024x317.png" %} alt="openAI" width="130" height="40">
            </div>
            <div class="partherlogo">
                <img src={% static "mainApp/img/kisspng-business-fiverr-finesse-poster-session-industry-fiverr-5b2703268964c8.4349318015292833665628.png" %}
                    alt="fiver" width="85" height="40">
            </div>
            <div class="partherlogo">
                <img src={% static "mainApp/img/ЛОГО_крабик_8х8.png" %} alt="goldapple" width="40" height="40">
            </div>
            <div class="partherlogo">
                <img src= {% static "mainApp/img/HeadHunter_logo.png" %} alt="headhunter" width="40" height="40">
            </div> 
        </div>
    </div>





    <div class="secondblockback">
        <div class="secondblock">
            <div class="title_text_b2 text-h2">Выберите рубрику, чтобы начать</div>
            <div class="categories">
                <button class="categories_button cbbackground_1">
                    <div class="categories_button_text text-h4">Дизайн</div>
                </button>
                <button class="categories_button cbbackground_2">
                    <div class="categories_button_text text-h4">Разработка в IT</div>
                </button>
                <button class="categories_button cbbackground_3">
                    <div class="categories_button_text text-h4">Соц.сети и реклама</div>
                </button>
                <button class="categories_button cbbackground_4">
                    <div class="categories_button_text text-h4">SEO и трафик</div>
                </button>
                <button class="categories_button cbbackground_5">
                    <div class="categories_button_text text-h4">Тексты и переводы</div>
                </button>
                <button class="categories_button cbbackground_6">
                    <div class="categories_button_text text-h4">Бизнес и жизнь</div>
                </button>
                <button class="categories_button cbbackground_7">
                    <div class="categories_button_text text-h4">Аудио, видео, съемка</div>
                </button>
            </div>
            <div class="statusbar">
                <div class="status_bar_back st1">
                    <div class="biglogo"></div>
                    <div class="logotitle">
                        Проект номер один на рынке
                    </div>
                </div>
                <div class="status_bar_back">
                    <div class="status_count">0</div>
                    <div class="status_title">
                        Активных проектов
                    </div>
                </div>
                <div class="status_bar_back">
                    <div class="status_count">0</div>
                    <div class="status_title">
                        Новых проектов за неделю
                    </div>
                </div>
                <div class="status_bar_back">
                    <div class="status_count">0</div>
                    <div class="status_title">
                        Выполнено проектов за неделю
                    </div>
                </div>
            </div>
        </div>
    </div>





    <div class="thirdblockback">
        <div class="thirdblock">
            <div class="thirdblock_title text-h2">
                Как решить задачу на проекте
            </div>
            <div class="thirdblock_text">
                Идеально подходит для бизнеса и для себя
            </div>
            <div class="thirdblock_stickers">
                <div class="thirdblock_sticker">
                    <img src={% static "mainApp/img/image 6.png" %} alt="Выберите услугу" width="118" height="115">
                    <div class="sticker_title">
                        Выберите услугу
                    </div>
                    <div class="sticker_text">
                        В магазине проекта представлен большой выбор услуг от профессионалов.
                    </div>
                </div>
                <div class="thirdblock_sticker">
                    <img src={% static "mainApp/img/image 6вфы.png" %} alt="Выберите услугу" width="118" height="115">
                    <div class="sticker_title">
                        Оплатите
                    </div>
                    <div class="sticker_text">
                        Деньги будут перечислены продавцу после того, как он выполнит работу, и вы её одобрите.
                    </div>
                </div>
                <div class="thirdblock_sticker">
                    <img src={% static "mainApp/img/image 611111.png" %} alt="Выберите услугу" width="118" height="115">
                    <div class="sticker_title">
                        Получите результат
                    </div>
                    <div class="sticker_text">
                        100% гарантия возврата средств в случае невыполнения заказа.
                    </div>
                </div>
            </div>
        </div>
    </div>







    <div class="fourthblockback">
        <div class="fourthblock">
            <div class="how_to_help">
                <div class="fourthblock_textinfo">
                    <div class="fourthblock_title text-h2">
                        Как проект помогает бизнесу
                    </div>
                    <div class="fourthblock_infos">
                        <div class="fourthblock_info">
                            <div class="oklogo">
                                <img src={% static "mainApp/img/oklogo.png" %} alt="oklogo">
                            </div>
                            <div class="fourthblock_info_text text_light">
                                Оплачивайте с расчетного счет или карты компании
                            </div>
                        </div>
                        <div class="fourthblock_info">
                            <div class="oklogo">
                                <img src={% static "mainApp/img/oklogo.png" %} alt="oklogo">
                            </div>
                            <div class="fourthblock_info_text text_light">
                                Экономьте по 90% бюджета на фрилансе
                            </div>
                        </div>
                        <div class="fourthblock_info">
                            <div class="oklogo">
                                <img src={% static "mainApp/img/oklogo.png" %} alt="oklogo">
                            </div>
                            <div class="fourthblock_info_text text_light">
                                Экономьте до 75% времени на решение фриланс задач
                            </div>
                        </div>
                    </div>
                </div>
                <iframe width="406" height="250" src="https://www.youtube.com/embed/McdghqVd7vk?si=xmBCv4Rvb3yuSlXX" title="YouTube video player" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>   
                </iframe>
            </div>
            <div class="what_to_say">
                <div class="what_to_say_title text-h2">
                    Что говорят о проекте клиенты
                </div>
                <div class="what_to_say_clients">
                    <div class="what_to_say_client">
                        <div class="what_to_say_client_photo">
                            <img src={% static "mainApp/img/image 7.png" %} alt="photo">
                        </div>
                        <div class="what_to_say_client_name">
                            Олег Ш.
                        </div>
                        <div class="what_to_say_client_info">
                            Сэкономил не менее 8 тыс. рублей на банерах
                        </div>
                    </div>
                    <div class="what_to_say_client">
                        <div class="what_to_say_client_photo">
                            <img src={% static "mainApp/img/ВладимирТ.png" %} alt="photo">
                        </div>
                        <div class="what_to_say_client_name">
                            Владимир Т.
                        </div>
                        <div class="what_to_say_client_info">
                            Сэкономил 6тыс. рублей и исправил критичес...
                        </div>
                    </div>
                    <div class="what_to_say_client">
                        <div class="what_to_say_client_photo">
                            <img src={% static "mainApp/img/ПавелК.png" %} alt="photo">
                        </div>
                        <div class="what_to_say_client_name">
                            Павел К.
                        </div>
                        <div class="what_to_say_client_info">
                            Сэкономил 13.5тыс. рублей и 1 месяц при...
                        </div>
                    </div>
                    <div class="what_to_say_client">
                        <div class="what_to_say_client_photo">
                            <img src={% static "mainApp/img/Андрей.png" %} alt="photo">
                        </div>
                        <div class="what_to_say_client_name">
                            Андрей
                        </div>
                        <div class="what_to_say_client_info">
                            Получил макет кухни за 500р.
                        </div>
                    </div>
                    <div class="what_to_say_client">
                        <div class="what_to_say_client_photo">
                            <img src={% static "mainApp/img/Максим Б.png" %} alt="photo">
                        </div>
                        <div class="what_to_say_client_name">
                            Максим Б.
                        </div>
                        <div class="what_to_say_client_info">
                            Сэкономил 80% бюджета при создание лендинга
                        </div>
                    </div>
                    <div class="what_to_say_client fdsfsd">
                        <div class="what_to_say_client_photo">
                            <img src={% static "mainApp/img/image 7.png" %} alt="photo">
                        </div>
                        <div class="what_to_say_client_name">
                            Олег Ш.
                        </div>
                        <div class="what_to_say_client_info">
                            Сэкономил не менее 8 тыс. рублей на банерах
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

















    
    <div class="fifthblockback">
        <div class="fifthblock">
            <div class="fifthtitle">Закажи услугу фрилансеров прямо сейчас</div>
            <div class="fifthtext">Быстро, просто и безопасно</div>
            <button class="signup_button aass" id="signup">Начать</button>
        </div>
    </div>
    <div class="sixthblockback">
        <div class="sixthblock">
            <div class="sixthblocktitle">
                Проект - это потрясающе удобная фриланс платформа, которая включает:
            </div>
            <div class="sixthtext">
                <div class="sixthtextblock">
                    <div class="sixthtextblocktitle">Магазин фриланс услуг</div>
                    <div class="sixthtextblocktext">Хотите экономить деньги, время и нервы? Такая экономия возможна только тогда, когда freelance нацелен на результат. В этом плане Kwork, являясь маркетплейсом, имеет огромное преимущество перед любыми другими биржами исполнителей.
                        Фрилансеры оформляют свои услуги в виде кворков, которые можно купить в один клик... То есть работа исполнителей продается как товар, а это экономит массу времени, денег и нервов. Идеально подходит для типовых задач: логотипы, баннеры, SEO и др.<br>
                        А главное каталог и поиск услуг настроены таким образом, что вы видите лучшие предложения на основе отзывов, качества и ответственности фрилансера. Если специалист работает плохо, его кворки уходят далеко вниз, мы не показываем их заказчикам. Поэтому на Kwork вы имеете дело с профессионалами, которые стараются выполнять задачи на пять.<br>
                        Кроме того, маркетплейс идеален для покупки фриланс услуг, когда у вас нет четкого ТЗ – вы просто выбираете тот кворк, который больше подходит. Если вы новичок или у вас нет опыта – начните именно с магазина, в нем разберется даже ребенок.
                    </div>
                </div>
                <div class="sixthtextblock wettw">
                    <div class="sixthtextblocktitle">Биржа фриланса</div>
                    <div class="sixthtextblocktext">
                        Вы создаете задание, и оно становится доступно тысячам фрилансеров, которые могут отправить вам предложения. Остается только выбрать лучшее и начать работу. Такой подход к удаленной работе – идеальный вариант для решения больших и уникальных задач.<br>
Отличительной чертой биржи Kwork является качество заявок от фрилансеров. Если вы когда-нибудь работали на других фриланс площадках, то знаете, какая это боль получать множество нерелевантных предложений от исполнителей, которые даже не прочитали текст вашего задания. Но на Kwork всё по-другому – благодаря особому функционалу любому фрилансеру приходится ценить каждую отправленную заявку. Поэтому подавляющее большинство полученных предложений поступают от исполнителей, внимательно ознакомившихся с сутью задачи и сразу предлагающих то или иное решение.<br>
И еще один важный момент, на бирже фриланса и в магазине Kwork безопасная оплата заказов, которая проходит через систему - исполнитель получает деньги, только когда вы одобрите результат. В случае просрочки денежные средства можно вернуть на свой счет в один клик.
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{%endblock%}
