{% extends 'mainApp/layout.html' %}
{% load static %}


{% block title %}
<link rel="stylesheet" href={% static "mainApp\css\project_create.css" %}>
<title>createProject</title>
{%endblock%}


{% block content %}

<main>
    <div class="main_container">
        <h1>Опишите что нужно сделать</h1>
        <div class="description">
            <p>Разместите свою задачу на бирже. Ваш проект станет видимым для тысяч фрилансеров, и некоторые из них сделают вам предложения. 
            Изучите их рейтинг, портфолио и выберите лучших из них. Подтвердите заказ, когда будете удовлетворены результатом на 100%. 
            Только после этого оплата спишется в пользу продавца. <a href='https://kwork.ru/protection'>Подробнее о Программе защиты клиентов проекта.</a></p>
        </div>
        <div class="create_project">
            <div class="create_set">
                <h3>Название задачи</h3>
                <div class="form_container">
                    <img src={% static "mainApp/img/construction_project_plan_building_architect_design_develop-62_icon-icons 1.png" %} alt="img">
                    <form class="name_form" action="">
                        <input type="text" placeholder="Введите название">
                    </form>
                </div>
                <p>От 1 до 55 символов</p>
            </div>

            <div class="create_set">
                <h3>Доплнительное описание задачи</h3>
                <div class="form_container">
                    <img src={% static "mainApp/img/dsadsadasdadadsadasd.png" %} alt="img">
                    <form class="description_form" action="">
                        <textarea type="text" placeholder="Опишите, что именно вам нужно, в каком объеме и за какой срок"></textarea>
                    </form>
                </div>
                <p>От 0 до 1500 символов</p>
            </div>

            <div class="choise_container">
                <h3>Рубрика</h3>
                <div class="form_container gfsdhfdhs">
                    <img src={% static "mainApp/img/toppng 1.png" %} alt="img">
                    <form class="choise" action="">
                        <div class="menu"><p>Выберите рубрику</p><i></i></div>
                        <div class="menu_categorys">
                            <div class="menu_category">
                                <p>Разработка в IT</p>
                                <div class="sub_menu">
                                    <button>Доработка и настройка сайта</button>
                                    <button>Создание сайта</button>
                                    <button>Верстка</button>
                                    <button>Десктоп программирование</button>
                                    <button>Скрипты и боты</button>
                                    <button>Мобильные приложения</button>
                                    <button>Игры</button>
                                    <button>Серверы и хостинги</button>
                                    <button>Юзабилити, тексты и помощь</button>
                                </div>
                            </div>
                            <div class="menu_category">
                                <p>Разработка в IT</p>
                                <div class="sub_menu">
                                    <button>Доработка и настройка сайта</button>
                                    <button>Создание сайта</button>
                                    <button>Верстка</button>
                                    <button>Десктоп программирование</button>
                                    <button>Скрипты и боты</button>
                                    <button>Мобильные приложения</button>
                                    <button>Игры</button>
                                    <button>Серверы и хостинги</button>
                                    <button>Юзабилити, тексты и помощь</button>
                                </div>
                            </div>
                            <div class="menu_category">
                                <p>Разработка в IT</p>
                                <div class="sub_menu">
                                    <button>Доработка и настройка сайта</button>
                                    <button>Создание сайта</button>
                                    <button>Верстка</button>
                                    <button>Десктоп программирование</button>
                                    <button>Скрипты и боты</button>
                                    <button>Мобильные приложения</button>
                                    <button>Игры</button>
                                    <button>Серверы и хостинги</button>
                                    <button>Юзабилити, тексты и помощь</button>
                                </div>
                            </div>
                            <div class="menu_category">
                                <p>Разработка в IT</p>
                                <div class="sub_menu">
                                    <button>Доработка и настройка сайта</button>
                                    <button>Создание сайта</button>
                                    <button>Верстка</button>
                                    <button>Десктоп программирование</button>
                                    <button>Скрипты и боты</button>
                                    <button>Мобильные приложения</button>
                                    <button>Игры</button>
                                    <button>Серверы и хостинги</button>
                                    <button>Юзабилити, тексты и помощь</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="choise_container">
                <h3>Цена не более</h3>
                <div class="form_container gfsdhfdhs">
                    <img class="imgfdsfs" src={% static "mainApp/img/saving-computer-icons-money-coin-save-electricity-c14988f4cb36b40f51f30f540e3acebd 1.png" %} alt="img">
                    <form class="choise" action="">
                        <input type="text" placeholder="Введите цену ₽">
                    </form>
                </div>
            </div>

            <button class="apply_b">Опубликовать</button>
        </div>
    </div>
</main>
<script src={% static "mainApp/js/project_create.js" %}></script>
{% endblock %}